<!doctype html>
<html>
{% extends "layout.html" %}

    {% block content %}
        <!-- Page Header -->
        <!-- Set your background image for this header on the line below. -->
        <header class="intro-header" style="background-image: url('/static/img/home-bg.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>Spread Health</h1>
                            <hr class="small">
                            <span class="subheading">Empowering Public Health through Social Media</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <body>
            <!-- Main Content -->
        <div class="container", align="center">
            <!div class="row">

                <div class="post-preview">
                    <a href="/slides">
                        <h2 class="post-title">
                            Want to tweet to help others stay healthy?
                        </h2>
                        <h3 class="post-subtitle">
                            Write your tweet draft below, and I'll tell you how likely it'll spread!
                        </h3>
                        <h4 class="post-subtitle">
                            The prediction classifier was trained with tweets about health care, so it currently
                            works best on health care-related topics. If a tweet is predicted to be "retweetable",
                            more than 0.5% of the user's followers are likely to retweet it.
                        </h4>
                    </a>
                </div>

                {% from "_formhelpers.html" import render_field %}

                <form method=post action="/results">
                    <dl>
                        {{ render_field(form.tweet, cols='60', rows='10') }}
                    </dl>
                    <div>
                        <input type=submit value='Will it be retweeted?' name='submit_btn'>
                    </div>
                </form>

            <!/div>

            <h3 class="post-subtitle" align="center">
                Example: <br> <br>
                <span style="font-weight:normal">
                    The CDC director posted two tweets about Zika virus around the same time.
                    <br>
                    However, one was retweeted 117 times while the other only 3 times. </span>
                    <br> <br>
                How well did our App predict? Test it out!
            </h3>

            <!div style="position: absolute; left: 400px; top: 10px; width: 500px; height: 500px;">
            <div class="col-lg-6">
                <blockquote class="twitter-tweet tw-align-center" data-lang="en">
                    <p lang="en" dir="ltr">New CDC guidance: Men &amp; women w. possible
                        <a href="https://twitter.com/hashtag/Zika?src=hash">#Zika</a>
                        virus exposure should wait at least 6 mos. to try getting pregnant.
                        <a href="https://t.co/KL6xF3VTau">https://t.co/KL6xF3VTau</a>
                    </p>&mdash; Dr. Tom Frieden (@DrFriedenCDC)
                    <a href="https://twitter.com/DrFriedenCDC/status/781931820413845504">September 30, 2016</a>
                </blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div class="col-lg-6">
                <blockquote class="twitter-tweet tw-align-center" data-lang="en">
                    <p lang="en" dir="ltr">Get
                        <a href="https://twitter.com/hashtag/Zika?src=hash">#Zika</a>
                        updates for your destination via text. Text PLAN to 855-255-5606
                        <a href="https://t.co/acTSkqDIeS">https://t.co/acTSkqDIeS</a>
                        <a href="https://twitter.com/hashtag/NatlPrep?src=hash">#NatlPrep</a>
                    </p>&mdash; Dr. Tom Frieden (@DrFriedenCDC)
                    <a href="https://twitter.com/DrFriedenCDC/status/781954405499297792">September 30, 2016</a>
                </blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

        </div>



        </body>
    {% endblock %}
</html>
