<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}

    {% block content %}
        <!-- Page Header -->
        <!-- Set your background image for this header on the line below. -->
        <header class="intro-header" style="background-image: url('/static/img/about-bg.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>Spread Health</h1>
                            <hr class="small">
                            <span class="subheading">Empowering Public Health through Social Media</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<body>

    <!-- Main Content -->
    <div class="container">

                <iframe src="https://docs.google.com/presentation/d/1IrM6DBTxQWK2O0qEs5PSsAZarLRRXyPeQyjkXIqqZg4/embed?start=false&loop=false&delayms=3000"
                        frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true"
                        webkitallowfullscreen="true">

                </iframe>

    </div>


</body>
    {% endblock %}
</html>
